<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>group_key</key>
		<string>熱門</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+86</string>
				<key>name</key>
				<string>中國</string>
				<key>content</key>
				<string>中國+86</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1</string>
				<key>name</key>
				<string>美國</string>
				<key>content</key>
				<string>美國+1</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+852</string>
				<key>name</key>
				<string>香港</string>
				<key>content</key>
				<string>香港+852</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+853</string>
				<key>name</key>
				<string>澳門</string>
				<key>content</key>
				<string>澳門+853</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+81</string>
				<key>name</key>
				<string>日本</string>
				<key>content</key>
				<string>日本+81</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+886</string>
				<key>name</key>
				<string>台灣</string>
				<key>content</key>
				<string>台灣+886</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+82</string>
				<key>name</key>
				<string>韓國</string>
				<key>content</key>
				<string>韓國+82</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+65</string>
				<key>name</key>
				<string>新加坡</string>
				<key>content</key>
				<string>新加坡+65</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+61</string>
				<key>name</key>
				<string>澳大利亞</string>
				<key>content</key>
				<string>澳大利亞+61</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1</string>
				<key>name</key>
				<string>加拿大</string>
				<key>content</key>
				<string>加拿大+1</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+44</string>
				<key>name</key>
				<string>英國</string>
				<key>content</key>
				<string>英國+44</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+33</string>
				<key>name</key>
				<string>法國</string>
				<key>content</key>
				<string>法國+33</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+49</string>
				<key>name</key>
				<string>德國</string>
				<key>content</key>
				<string>德國+49</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+39</string>
				<key>name</key>
				<string>意大利</string>
				<key>content</key>
				<string>意大利+39</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>A</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+355</string>
				<key>name</key>
				<string>阿爾巴尼亞</string>
				<key>content</key>
				<string>阿爾巴尼亞+355</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+213</string>
				<key>name</key>
				<string>阿爾及利亞</string>
				<key>content</key>
				<string>阿爾及利亞+213</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+93</string>
				<key>name</key>
				<string>阿富汗</string>
				<key>content</key>
				<string>阿富汗+93</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+54</string>
				<key>name</key>
				<string>阿根廷</string>
				<key>content</key>
				<string>阿根廷+54</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+353</string>
				<key>name</key>
				<string>愛爾蘭</string>
				<key>content</key>
				<string>愛爾蘭+353</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+20</string>
				<key>name</key>
				<string>埃及</string>
				<key>content</key>
				<string>埃及+20</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+251</string>
				<key>name</key>
				<string>埃塞俄比亞</string>
				<key>content</key>
				<string>埃塞俄比亞+251</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+372</string>
				<key>name</key>
				<string>愛沙尼亞</string>
				<key>content</key>
				<string>愛沙尼亞+372</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+971</string>
				<key>name</key>
				<string>阿拉伯聯合酋長國</string>
				<key>content</key>
				<string>阿拉伯聯合酋長國+971</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+297</string>
				<key>name</key>
				<string>阿魯巴</string>
				<key>content</key>
				<string>阿魯巴+297</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+968</string>
				<key>name</key>
				<string>阿曼</string>
				<key>content</key>
				<string>阿曼+968</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+376</string>
				<key>name</key>
				<string>安道爾共和國</string>
				<key>content</key>
				<string>安道爾共和國+376</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+244</string>
				<key>name</key>
				<string>安哥拉</string>
				<key>content</key>
				<string>安哥拉+244</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1264</string>
				<key>name</key>
				<string>安圭拉島</string>
				<key>content</key>
				<string>安圭拉島+1264</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1268</string>
				<key>name</key>
				<string>安提瓜和巴布達</string>
				<key>content</key>
				<string>安提瓜和巴布達+1268</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+61</string>
				<key>name</key>
				<string>澳大利亞</string>
				<key>content</key>
				<string>澳大利亞+61</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+43</string>
				<key>name</key>
				<string>奧地利</string>
				<key>content</key>
				<string>奧地利+43</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+358</string>
				<key>name</key>
				<string>奧蘭羣島</string>
				<key>content</key>
				<string>奧蘭羣島+358</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+853</string>
				<key>name</key>
				<string>澳門（中國）</string>
				<key>content</key>
				<string>澳門（中國）+853</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+994</string>
				<key>name</key>
				<string>阿塞拜疆</string>
				<key>content</key>
				<string>阿塞拜疆+994</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+247</string>
				<key>name</key>
				<string>阿森松</string>
				<key>content</key>
				<string>阿森松+247</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>B</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+1246</string>
				<key>name</key>
				<string>巴巴多斯</string>
				<key>content</key>
				<string>巴巴多斯+1246</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+675</string>
				<key>name</key>
				<string>巴布亞新幾內亞</string>
				<key>content</key>
				<string>巴布亞新幾內亞+675</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1242</string>
				<key>name</key>
				<string>巴哈馬</string>
				<key>content</key>
				<string>巴哈馬+1242</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+375</string>
				<key>name</key>
				<string>白俄羅斯</string>
				<key>content</key>
				<string>白俄羅斯+375</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1441</string>
				<key>name</key>
				<string>百慕大</string>
				<key>content</key>
				<string>百慕大+1441</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+92</string>
				<key>name</key>
				<string>巴基斯坦</string>
				<key>content</key>
				<string>巴基斯坦+92</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+595</string>
				<key>name</key>
				<string>巴拉圭</string>
				<key>content</key>
				<string>巴拉圭+595</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+970</string>
				<key>name</key>
				<string>巴勒斯坦領土</string>
				<key>content</key>
				<string>巴勒斯坦領土+970</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+973</string>
				<key>name</key>
				<string>巴林</string>
				<key>content</key>
				<string>巴林+973</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+507</string>
				<key>name</key>
				<string>巴拿馬</string>
				<key>content</key>
				<string>巴拿馬+507</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+359</string>
				<key>name</key>
				<string>保加利亞</string>
				<key>content</key>
				<string>保加利亞+359</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+55</string>
				<key>name</key>
				<string>巴西</string>
				<key>content</key>
				<string>巴西+55</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+51</string>
				<key>name</key>
				<string>祕魯</string>
				<key>content</key>
				<string>祕魯+51</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1670</string>
				<key>name</key>
				<string>北馬里亞那羣島</string>
				<key>content</key>
				<string>北馬里亞那羣島+1670</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+229</string>
				<key>name</key>
				<string>貝寧</string>
				<key>content</key>
				<string>貝寧+229</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+32</string>
				<key>name</key>
				<string>比利時</string>
				<key>content</key>
				<string>比利時+32</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+354</string>
				<key>name</key>
				<string>冰島</string>
				<key>content</key>
				<string>冰島+354</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+267</string>
				<key>name</key>
				<string>博茨瓦納</string>
				<key>content</key>
				<string>博茨瓦納+267</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1787</string>
				<key>name</key>
				<string>波多黎各</string>
				<key>content</key>
				<string>波多黎各+1787</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1939</string>
				<key>name</key>
				<string>波多黎各</string>
				<key>content</key>
				<string>波多黎各+1939</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+48</string>
				<key>name</key>
				<string>波蘭</string>
				<key>content</key>
				<string>波蘭+48</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+591</string>
				<key>name</key>
				<string>玻利維亞</string>
				<key>content</key>
				<string>玻利維亞+591</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+501</string>
				<key>name</key>
				<string>伯利茲</string>
				<key>content</key>
				<string>伯利茲+501</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+387</string>
				<key>name</key>
				<string>波斯尼亞和黑塞哥維那</string>
				<key>content</key>
				<string>波斯尼亞和黑塞哥維那+387</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+975</string>
				<key>name</key>
				<string>不丹</string>
				<key>content</key>
				<string>不丹+975</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+226</string>
				<key>name</key>
				<string>布基納法索</string>
				<key>content</key>
				<string>布基納法索+226</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+257</string>
				<key>name</key>
				<string>布隆迪</string>
				<key>content</key>
				<string>布隆迪+257</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>C</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+850</string>
				<key>name</key>
				<string>朝鮮</string>
				<key>content</key>
				<string>朝鮮+850</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+240</string>
				<key>name</key>
				<string>赤道幾內亞</string>
				<key>content</key>
				<string>赤道幾內亞+240</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>D</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+45</string>
				<key>name</key>
				<string>丹麥</string>
				<key>content</key>
				<string>丹麥+45</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+49</string>
				<key>name</key>
				<string>德國</string>
				<key>content</key>
				<string>德國+49</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+670</string>
				<key>name</key>
				<string>東帝汶</string>
				<key>content</key>
				<string>東帝汶+670</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+228</string>
				<key>name</key>
				<string>多哥</string>
				<key>content</key>
				<string>多哥+228</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1809</string>
				<key>name</key>
				<string>多米尼加共和國</string>
				<key>content</key>
				<string>多米尼加共和國+1809</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1829</string>
				<key>name</key>
				<string>多米尼加共和國</string>
				<key>content</key>
				<string>多米尼加共和國+1829</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1849</string>
				<key>name</key>
				<string>多米尼加共和國</string>
				<key>content</key>
				<string>多米尼加共和國+1849</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>E</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+593</string>
				<key>name</key>
				<string>厄瓜多爾</string>
				<key>content</key>
				<string>厄瓜多爾+593</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+291</string>
				<key>name</key>
				<string>厄立特里亞</string>
				<key>content</key>
				<string>厄立特里亞+291</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+7</string>
				<key>name</key>
				<string>俄羅斯</string>
				<key>content</key>
				<string>俄羅斯+7</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>F</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+33</string>
				<key>name</key>
				<string>法國</string>
				<key>content</key>
				<string>法國+33</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+298</string>
				<key>name</key>
				<string>法羅羣島</string>
				<key>content</key>
				<string>法羅羣島+298</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+379</string>
				<key>name</key>
				<string>梵蒂岡</string>
				<key>content</key>
				<string>梵蒂岡+379</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+689</string>
				<key>name</key>
				<string>法屬玻利尼西亞</string>
				<key>content</key>
				<string>法屬玻利尼西亞+689</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+594</string>
				<key>name</key>
				<string>法屬圭亞那</string>
				<key>content</key>
				<string>法屬圭亞那+594</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+679</string>
				<key>name</key>
				<string>斐濟</string>
				<key>content</key>
				<string>斐濟+679</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+63</string>
				<key>name</key>
				<string>菲律賓</string>
				<key>content</key>
				<string>菲律賓+63</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+358</string>
				<key>name</key>
				<string>芬蘭</string>
				<key>content</key>
				<string>芬蘭+358</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+238</string>
				<key>name</key>
				<string>佛得角</string>
				<key>content</key>
				<string>佛得角+238</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+500</string>
				<key>name</key>
				<string>福克蘭羣島</string>
				<key>content</key>
				<string>福克蘭羣島+500</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>G</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+220</string>
				<key>name</key>
				<string>岡比亞</string>
				<key>content</key>
				<string>岡比亞+220</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+242</string>
				<key>name</key>
				<string>剛果（布）</string>
				<key>content</key>
				<string>剛果（布）+242</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+243</string>
				<key>name</key>
				<string>剛果（金）</string>
				<key>content</key>
				<string>剛果（金）+243</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+44</string>
				<key>name</key>
				<string>格恩西島</string>
				<key>content</key>
				<string>格恩西島+44</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+299</string>
				<key>name</key>
				<string>格陵蘭</string>
				<key>content</key>
				<string>格陵蘭+299</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1473</string>
				<key>name</key>
				<string>格林納達</string>
				<key>content</key>
				<string>格林納達+1473</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+995</string>
				<key>name</key>
				<string>格魯吉亞</string>
				<key>content</key>
				<string>格魯吉亞+995</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+57</string>
				<key>name</key>
				<string>哥倫比亞</string>
				<key>content</key>
				<string>哥倫比亞+57</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+506</string>
				<key>name</key>
				<string>哥斯達黎加</string>
				<key>content</key>
				<string>哥斯達黎加+506</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1671</string>
				<key>name</key>
				<string>關島</string>
				<key>content</key>
				<string>關島+1671</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+53</string>
				<key>name</key>
				<string>古巴</string>
				<key>content</key>
				<string>古巴+53</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1809</string>
				<key>name</key>
				<string>格林納達</string>
				<key>content</key>
				<string>格林納達+1809</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+592</string>
				<key>name</key>
				<string>圭亞那</string>
				<key>content</key>
				<string>圭亞那+592</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>H</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+509</string>
				<key>name</key>
				<string>海地</string>
				<key>content</key>
				<string>海地+509</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+82</string>
				<key>name</key>
				<string>韓國</string>
				<key>content</key>
				<string>韓國+82</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+327</string>
				<key>name</key>
				<string>哈薩克斯坦</string>
				<key>content</key>
				<string>哈薩克斯坦+327</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+382</string>
				<key>name</key>
				<string>黑山</string>
				<key>content</key>
				<string>黑山+382</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+31</string>
				<key>name</key>
				<string>荷蘭</string>
				<key>content</key>
				<string>荷蘭+31</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+599</string>
				<key>name</key>
				<string>荷屬加勒比區</string>
				<key>content</key>
				<string>荷屬加勒比區+599</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1721</string>
				<key>name</key>
				<string>荷屬聖馬丁</string>
				<key>content</key>
				<string>荷屬聖馬丁+1721</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+504</string>
				<key>name</key>
				<string>洪都拉斯</string>
				<key>content</key>
				<string>洪都拉斯+504</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>J</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+233</string>
				<key>name</key>
				<string>加納</string>
				<key>content</key>
				<string>加納+233</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1</string>
				<key>name</key>
				<string>加拿大</string>
				<key>content</key>
				<string>加拿大+1</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+855</string>
				<key>name</key>
				<string>柬埔寨</string>
				<key>content</key>
				<string>柬埔寨+855</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+241</string>
				<key>name</key>
				<string>加蓬</string>
				<key>content</key>
				<string>加蓬+241</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+253</string>
				<key>name</key>
				<string>吉布提</string>
				<key>content</key>
				<string>吉布提+253</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+420</string>
				<key>name</key>
				<string>捷克</string>
				<key>content</key>
				<string>捷克+420</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+331</string>
				<key>name</key>
				<string>吉爾吉斯坦</string>
				<key>content</key>
				<string>吉爾吉斯坦+331</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+686</string>
				<key>name</key>
				<string>基里巴斯</string>
				<key>content</key>
				<string>基里巴斯+686</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+263</string>
				<key>name</key>
				<string>津巴布韋</string>
				<key>content</key>
				<string>津巴布韋+263</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+224</string>
				<key>name</key>
				<string>幾內亞</string>
				<key>content</key>
				<string>幾內亞+224</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+245</string>
				<key>name</key>
				<string>幾內亞比紹</string>
				<key>content</key>
				<string>幾內亞比紹+245</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>K</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+1345</string>
				<key>name</key>
				<string>開曼羣島</string>
				<key>content</key>
				<string>開曼羣島+1345</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+237</string>
				<key>name</key>
				<string>喀麥隆</string>
				<key>content</key>
				<string>喀麥隆+237</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+974</string>
				<key>name</key>
				<string>卡塔爾</string>
				<key>content</key>
				<string>卡塔爾+974</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+61</string>
				<key>name</key>
				<string>科科斯（基林）羣島</string>
				<key>content</key>
				<string>科科斯（基林）羣島+61</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+385</string>
				<key>name</key>
				<string>克羅地亞</string>
				<key>content</key>
				<string>克羅地亞+385</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+269</string>
				<key>name</key>
				<string>科摩羅</string>
				<key>content</key>
				<string>科摩羅+269</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+254</string>
				<key>name</key>
				<string>肯雅</string>
				<key>content</key>
				<string>肯雅+254</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+225</string>
				<key>name</key>
				<string>科特迪瓦</string>
				<key>content</key>
				<string>科特迪瓦+225</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+965</string>
				<key>name</key>
				<string>科威特</string>
				<key>content</key>
				<string>科威特+965</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+682</string>
				<key>name</key>
				<string>庫克羣島</string>
				<key>content</key>
				<string>庫克羣島+682</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+599</string>
				<key>name</key>
				<string>庫拉索</string>
				<key>content</key>
				<string>庫拉索+599</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>L</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+266</string>
				<key>name</key>
				<string>萊索托</string>
				<key>content</key>
				<string>萊索托+266</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+856</string>
				<key>name</key>
				<string>老撾</string>
				<key>content</key>
				<string>老撾+856</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+371</string>
				<key>name</key>
				<string>拉脫維亞</string>
				<key>content</key>
				<string>拉脫維亞+371</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+961</string>
				<key>name</key>
				<string>黎巴嫩</string>
				<key>content</key>
				<string>黎巴嫩+961</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+231</string>
				<key>name</key>
				<string>利比里亞</string>
				<key>content</key>
				<string>利比里亞+231</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+218</string>
				<key>name</key>
				<string>利比亞</string>
				<key>content</key>
				<string>利比亞+218</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+423</string>
				<key>name</key>
				<string>列支敦士登</string>
				<key>content</key>
				<string>列支敦士登+423</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+370</string>
				<key>name</key>
				<string>立陶宛</string>
				<key>content</key>
				<string>立陶宛+370</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+262</string>
				<key>name</key>
				<string>留尼旺</string>
				<key>content</key>
				<string>留尼旺+262</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+40</string>
				<key>name</key>
				<string>羅馬尼亞</string>
				<key>content</key>
				<string>羅馬尼亞+40</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+352</string>
				<key>name</key>
				<string>盧森堡</string>
				<key>content</key>
				<string>盧森堡+352</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+250</string>
				<key>name</key>
				<string>盧旺達</string>
				<key>content</key>
				<string>盧旺達+250</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>M</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+261</string>
				<key>name</key>
				<string>馬達加斯加</string>
				<key>content</key>
				<string>馬達加斯加+261</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+44</string>
				<key>name</key>
				<string>萌島</string>
				<key>content</key>
				<string>萌島+44</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+960</string>
				<key>name</key>
				<string>馬爾代夫</string>
				<key>content</key>
				<string>馬爾代夫+960</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+356</string>
				<key>name</key>
				<string>馬耳他</string>
				<key>content</key>
				<string>馬耳他+356</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+60</string>
				<key>name</key>
				<string>馬來西亞</string>
				<key>content</key>
				<string>馬來西亞+60</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+265</string>
				<key>name</key>
				<string>馬拉維</string>
				<key>content</key>
				<string>馬拉維+265</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+223</string>
				<key>name</key>
				<string>馬里</string>
				<key>content</key>
				<string>馬里+223</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+230</string>
				<key>name</key>
				<string>毛里裘斯</string>
				<key>content</key>
				<string>毛里裘斯+230</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+222</string>
				<key>name</key>
				<string>毛里塔尼亞</string>
				<key>content</key>
				<string>毛里塔尼亞+222</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+389</string>
				<key>name</key>
				<string>馬其頓</string>
				<key>content</key>
				<string>馬其頓+389</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+692</string>
				<key>name</key>
				<string>馬紹爾羣島</string>
				<key>content</key>
				<string>馬紹爾羣島+692</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+596</string>
				<key>name</key>
				<string>馬提尼克</string>
				<key>content</key>
				<string>馬提尼克+596</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+262</string>
				<key>name</key>
				<string>馬約特</string>
				<key>content</key>
				<string>馬約特+262</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1</string>
				<key>name</key>
				<string>美國</string>
				<key>content</key>
				<string>美國+1</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1684</string>
				<key>name</key>
				<string>美屬薩摩亞</string>
				<key>content</key>
				<string>美屬薩摩亞+1684</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1340</string>
				<key>name</key>
				<string>美屬維爾京島</string>
				<key>content</key>
				<string>美屬維爾京島+1340</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+976</string>
				<key>name</key>
				<string>蒙古</string>
				<key>content</key>
				<string>蒙古+976</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+880</string>
				<key>name</key>
				<string>孟加拉國</string>
				<key>content</key>
				<string>孟加拉國+880</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1664</string>
				<key>name</key>
				<string>蒙特塞拉特島</string>
				<key>content</key>
				<string>蒙特塞拉特島+1664</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+95</string>
				<key>name</key>
				<string>緬甸</string>
				<key>content</key>
				<string>緬甸+95</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+691</string>
				<key>name</key>
				<string>密克羅尼西亞</string>
				<key>content</key>
				<string>密克羅尼西亞+691</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+373</string>
				<key>name</key>
				<string>摩爾多瓦</string>
				<key>content</key>
				<string>摩爾多瓦+373</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+212</string>
				<key>name</key>
				<string>摩洛哥</string>
				<key>content</key>
				<string>摩洛哥+212</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+377</string>
				<key>name</key>
				<string>摩納哥</string>
				<key>content</key>
				<string>摩納哥+377</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+258</string>
				<key>name</key>
				<string>莫桑比克</string>
				<key>content</key>
				<string>莫桑比克+258</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+52</string>
				<key>name</key>
				<string>墨西哥</string>
				<key>content</key>
				<string>墨西哥+52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>N</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+264</string>
				<key>name</key>
				<string>納米比亞</string>
				<key>content</key>
				<string>納米比亞+264</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+27</string>
				<key>name</key>
				<string>南非</string>
				<key>content</key>
				<string>南非+27</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+211</string>
				<key>name</key>
				<string>南蘇丹</string>
				<key>content</key>
				<string>南蘇丹+211</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+674</string>
				<key>name</key>
				<string>瑙魯</string>
				<key>content</key>
				<string>瑙魯+674</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+977</string>
				<key>name</key>
				<string>尼泊爾</string>
				<key>content</key>
				<string>尼泊爾+977</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+505</string>
				<key>name</key>
				<string>尼加拉瓜</string>
				<key>content</key>
				<string>尼加拉瓜+505</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+227</string>
				<key>name</key>
				<string>尼日爾</string>
				<key>content</key>
				<string>尼日爾+227</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+234</string>
				<key>name</key>
				<string>尼日利亞</string>
				<key>content</key>
				<string>尼日利亞+234</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+683</string>
				<key>name</key>
				<string>紐埃</string>
				<key>content</key>
				<string>紐埃+683</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+672</string>
				<key>name</key>
				<string>諾福克島</string>
				<key>content</key>
				<string>諾福克島+672</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+47</string>
				<key>name</key>
				<string>挪威</string>
				<key>content</key>
				<string>挪威+47</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>P</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+680</string>
				<key>name</key>
				<string>帛琉</string>
				<key>content</key>
				<string>帛琉+680</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+351</string>
				<key>name</key>
				<string>葡萄牙</string>
				<key>content</key>
				<string>葡萄牙+351</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>R</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+81</string>
				<key>name</key>
				<string>日本</string>
				<key>content</key>
				<string>日本+81</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+46</string>
				<key>name</key>
				<string>瑞典</string>
				<key>content</key>
				<string>瑞典+46</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+41</string>
				<key>name</key>
				<string>瑞士</string>
				<key>content</key>
				<string>瑞士+41</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>S</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+503</string>
				<key>name</key>
				<string>薩爾瓦多</string>
				<key>content</key>
				<string>薩爾瓦多+503</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+381</string>
				<key>name</key>
				<string>塞爾維亞</string>
				<key>content</key>
				<string>塞爾維亞+381</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+232</string>
				<key>name</key>
				<string>塞拉利昂</string>
				<key>content</key>
				<string>塞拉利昂+232</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+221</string>
				<key>name</key>
				<string>塞內加爾</string>
				<key>content</key>
				<string>塞內加爾+221</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+357</string>
				<key>name</key>
				<string>塞浦路斯</string>
				<key>content</key>
				<string>塞浦路斯+357</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+248</string>
				<key>name</key>
				<string>塞舌爾</string>
				<key>content</key>
				<string>塞舌爾+248</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+685</string>
				<key>name</key>
				<string>西薩摩亞</string>
				<key>content</key>
				<string>西薩摩亞+685</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+966</string>
				<key>name</key>
				<string>沙特阿拉伯</string>
				<key>content</key>
				<string>沙特阿拉伯+966</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+61</string>
				<key>name</key>
				<string>聖誕島</string>
				<key>content</key>
				<string>聖誕島+61</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+239</string>
				<key>name</key>
				<string>聖多美和普林西比</string>
				<key>content</key>
				<string>聖多美和普林西比+239</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+290</string>
				<key>name</key>
				<string>聖赫勒拿</string>
				<key>content</key>
				<string>聖赫勒拿+290</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1869</string>
				<key>name</key>
				<string>聖吉斯納域斯</string>
				<key>content</key>
				<string>聖吉斯納域斯+1869</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1758</string>
				<key>name</key>
				<string>聖盧西亞</string>
				<key>content</key>
				<string>聖盧西亞+1758</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+590</string>
				<key>name</key>
				<string>聖巴泰勒米</string>
				<key>content</key>
				<string>聖巴泰勒米+590</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+378</string>
				<key>name</key>
				<string>聖馬力諾</string>
				<key>content</key>
				<string>聖馬力諾+378</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+508</string>
				<key>name</key>
				<string>聖皮埃爾和密克隆羣島</string>
				<key>content</key>
				<string>聖皮埃爾和密克隆羣島+508</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1784</string>
				<key>name</key>
				<string>聖文森特島格林納丁斯</string>
				<key>content</key>
				<string>聖文森特島格林納丁斯+1784</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+94</string>
				<key>name</key>
				<string>斯里蘭卡</string>
				<key>content</key>
				<string>斯里蘭卡+94</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+421</string>
				<key>name</key>
				<string>斯洛伐克</string>
				<key>content</key>
				<string>斯洛伐克+421</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+386</string>
				<key>name</key>
				<string>斯洛文尼亞</string>
				<key>content</key>
				<string>斯洛文尼亞+386</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+47</string>
				<key>name</key>
				<string>斯瓦爾巴和揚馬延</string>
				<key>content</key>
				<string>斯瓦爾巴和揚馬延+47</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+268</string>
				<key>name</key>
				<string>斯威士蘭</string>
				<key>content</key>
				<string>斯威士蘭+268</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+249</string>
				<key>name</key>
				<string>蘇丹</string>
				<key>content</key>
				<string>蘇丹+249</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+597</string>
				<key>name</key>
				<string>蘇里南</string>
				<key>content</key>
				<string>蘇里南+597</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+677</string>
				<key>name</key>
				<string>所羅門羣島</string>
				<key>content</key>
				<string>所羅門羣島+677</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+252</string>
				<key>name</key>
				<string>索馬里</string>
				<key>content</key>
				<string>索馬里+252</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>T</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+66</string>
				<key>name</key>
				<string>泰國</string>
				<key>content</key>
				<string>泰國+66</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+886</string>
				<key>name</key>
				<string>台灣</string>
				<key>content</key>
				<string>台灣+886</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+992</string>
				<key>name</key>
				<string>塔吉克斯坦</string>
				<key>content</key>
				<string>塔吉克斯坦+992</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+676</string>
				<key>name</key>
				<string>湯加</string>
				<key>content</key>
				<string>湯加+676</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+255</string>
				<key>name</key>
				<string>坦桑尼亞</string>
				<key>content</key>
				<string>坦桑尼亞+255</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1649</string>
				<key>name</key>
				<string>特克斯和凱科斯羣島</string>
				<key>content</key>
				<string>特克斯和凱科斯羣島+1649</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1868</string>
				<key>name</key>
				<string>特立尼達和多巴哥</string>
				<key>content</key>
				<string>特立尼達和多巴哥+1868</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+290</string>
				<key>name</key>
				<string>特立斯坦-達庫尼亞羣島</string>
				<key>content</key>
				<string>特立斯坦-達庫尼亞羣島+290</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+90</string>
				<key>name</key>
				<string>土耳其</string>
				<key>content</key>
				<string>土耳其+90</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+993</string>
				<key>name</key>
				<string>土庫曼斯坦</string>
				<key>content</key>
				<string>土庫曼斯坦+993</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+216</string>
				<key>name</key>
				<string>突尼斯</string>
				<key>content</key>
				<string>突尼斯+216</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+690</string>
				<key>name</key>
				<string>托克勞</string>
				<key>content</key>
				<string>托克勞+690</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+688</string>
				<key>name</key>
				<string>圖瓦盧</string>
				<key>content</key>
				<string>圖瓦盧+688</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>W</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+681</string>
				<key>name</key>
				<string>瓦里斯和富圖納</string>
				<key>content</key>
				<string>瓦里斯和富圖納+681</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+678</string>
				<key>name</key>
				<string>瓦努阿圖</string>
				<key>content</key>
				<string>瓦努阿圖+678</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+502</string>
				<key>name</key>
				<string>危地馬拉</string>
				<key>content</key>
				<string>危地馬拉+502</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+58</string>
				<key>name</key>
				<string>委內瑞拉</string>
				<key>content</key>
				<string>委內瑞拉+58</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+673</string>
				<key>name</key>
				<string>汶萊</string>
				<key>content</key>
				<string>汶萊+673</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+256</string>
				<key>name</key>
				<string>烏干達</string>
				<key>content</key>
				<string>烏干達+256</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+380</string>
				<key>name</key>
				<string>烏克蘭</string>
				<key>content</key>
				<string>烏克蘭+380</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+598</string>
				<key>name</key>
				<string>烏拉圭</string>
				<key>content</key>
				<string>烏拉圭+598</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+998</string>
				<key>name</key>
				<string>烏茲別克斯坦</string>
				<key>content</key>
				<string>烏茲別克斯坦+998</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>X</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+852</string>
				<key>name</key>
				<string>香港（中國）</string>
				<key>content</key>
				<string>香港（中國）+852</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+34</string>
				<key>name</key>
				<string>西班牙</string>
				<key>content</key>
				<string>西班牙+34</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+30</string>
				<key>name</key>
				<string>希臘</string>
				<key>content</key>
				<string>希臘+30</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+65</string>
				<key>name</key>
				<string>新加坡</string>
				<key>content</key>
				<string>新加坡+65</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+687</string>
				<key>name</key>
				<string>新克里多尼亞</string>
				<key>content</key>
				<string>新克里多尼亞+687</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+64</string>
				<key>name</key>
				<string>新西蘭</string>
				<key>content</key>
				<string>新西蘭+64</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+36</string>
				<key>name</key>
				<string>匈牙利</string>
				<key>content</key>
				<string>匈牙利+36</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+212</string>
				<key>name</key>
				<string>西撒哈拉</string>
				<key>content</key>
				<string>西撒哈拉+212</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+963</string>
				<key>name</key>
				<string>敘利亞</string>
				<key>content</key>
				<string>敘利亞+963</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>Y</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+1876</string>
				<key>name</key>
				<string>牙買加</string>
				<key>content</key>
				<string>牙買加+1876</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+374</string>
				<key>name</key>
				<string>亞美尼亞</string>
				<key>content</key>
				<string>亞美尼亞+374</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+967</string>
				<key>name</key>
				<string>也門</string>
				<key>content</key>
				<string>也門+967</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+39</string>
				<key>name</key>
				<string>意大利</string>
				<key>content</key>
				<string>意大利+39</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+964</string>
				<key>name</key>
				<string>伊拉克</string>
				<key>content</key>
				<string>伊拉克+964</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+98</string>
				<key>name</key>
				<string>伊朗</string>
				<key>content</key>
				<string>伊朗+98</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+91</string>
				<key>name</key>
				<string>印度</string>
				<key>content</key>
				<string>印度+91</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+62</string>
				<key>name</key>
				<string>印度尼西亞</string>
				<key>content</key>
				<string>印度尼西亞+62</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+44</string>
				<key>name</key>
				<string>英國</string>
				<key>content</key>
				<string>英國+44</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+1284</string>
				<key>name</key>
				<string>英屬維爾京羣島</string>
				<key>content</key>
				<string>英屬維爾京羣島+1284</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+246</string>
				<key>name</key>
				<string>英屬印度洋領地</string>
				<key>content</key>
				<string>英屬印度洋領地+246</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+972</string>
				<key>name</key>
				<string>以色列</string>
				<key>content</key>
				<string>以色列+972</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+962</string>
				<key>name</key>
				<string>約旦</string>
				<key>content</key>
				<string>約旦+962</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+84</string>
				<key>name</key>
				<string>越南</string>
				<key>content</key>
				<string>越南+84</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>group_key</key>
		<string>Z</string>
		<key>group_items</key>
		<array>
			<dict>
				<key>dial_code</key>
				<string>+260</string>
				<key>name</key>
				<string>贊比亞</string>
				<key>content</key>
				<string>贊比亞+260</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+44</string>
				<key>name</key>
				<string>澤西島</string>
				<key>content</key>
				<string>澤西島+44</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+235</string>
				<key>name</key>
				<string>乍得</string>
				<key>content</key>
				<string>乍得+235</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+350</string>
				<key>name</key>
				<string>直布羅陀</string>
				<key>content</key>
				<string>直布羅陀+350</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+56</string>
				<key>name</key>
				<string>智利</string>
				<key>content</key>
				<string>智利+56</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+236</string>
				<key>name</key>
				<string>中非共和國</string>
				<key>content</key>
				<string>中非共和國+236</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+350</string>
				<key>name</key>
				<string>直布羅陀</string>
				<key>content</key>
				<string>直布羅陀+350</string>
			</dict>
			<dict>
				<key>dial_code</key>
				<string>+86</string>
				<key>name</key>
				<string>中國</string>
				<key>content</key>
				<string>中國+86</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
